puppeteer_download_host=https://npm.taobao.org/mirrors
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/canvas-prebuilt
sass_binary_site=https://mirrors.huaweicloud.com/node-sass
phantomjs_cdnurl=https://mirrors.huaweicloud.com/phantomjs
chromedriver_cdnurl=https://mirrors.huaweicloud.com/chromedriver
operadriver_cdnurl=https://mirrors.huaweicloud.com/operadriver
electron_mirror=https://mirrors.huaweicloud.com/electron/
python_mirror=https://mirrors.huaweicloud.com/python
sharp_binary_host=https://npm.taobao.org/mirrors/sharp
sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips
package-lock=false
