phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
tmp=./tmp
puppeteer_download_host=https://npm.taobao.org/mirrors
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/canvas-prebuilt
package-lock=false
