registry=http://registry.npmjs.com
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
puppeteer_download_host=https://npm.taobao.org/mirrors
canvas_binary_host_mirror=https://npm.taobao.org/mirrors/canvas-prebuilt
package-lock=false
